<!-- Start business Usecase-->
<section class="section section-gap pb-0">
  <div class="container">
    <h2 class="section-head text-center">Business Use Cases</h2>
    <div class="row solution h100-b">
      <div class="col-12 col-md-4">
        <a
          href="#"
          title="View Solution"
          class="in"
          style="background-image: url({{site.Params.images.usecase}})"
        >
          <div class="txt">
            <img src="{{site.Params.images.ucicon1}}" alt="" class="s-ico" />
            <h3>Banking & Finance</h3>
            <p class="p1">
              <span class="s1"
                >Advanced communications support to enhance efficiency,
                compliance, and customer experiences.</span
              >
            </p>
          </div>
          <span class="btn btn-link">View Solution</span>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a
          href="#"
          title="View Solution"
          class="in"
          style="background-image: url({{site.Params.images.usecase1}})"
        >
          <div class="txt">
            <img src="{{site.Params.images.ucicon2}}" alt="" class="s-ico" />
            <h3>E-commerce</h3>
            <p class="p1">
              <span class="s1"
                >Build and retain customer confidence with seamless, persuasive
                and personalised communications</span
              >
            </p>
          </div>
          <span class="btn btn-link">View Solution</span>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a
          href="#"
          title="View Solution"
          class="in"
          style="background-image: url({{site.Params.images.usecase2}})"
        >
          <div class="txt">
            <img src="{{site.Params.images.ucicon3}}" alt="" class="s-ico" />
            <h3>Carrier</h3>
            <p class="p1">
              <span class="s1"
                >Constant customer engagement without limits for mobile
                operators and fixed network carriers</span
              >
            </p>
          </div>
          <span class="btn btn-link">View Solution</span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End Business Usecase-->
