<button type="button" id="mobile-nav-toggle"><i class="bx bx-menu"></i></button>
<!-- start Header-->
<header id="header" class="show-header">
	<div class="menu-section">
		<div class="container main-menu">
			<div class="align-items-center justify-content-between row no-gutters">
				<div id="logo" class="logo col-auto">
					<a class="bg-danger" href="#"><img src="{{site.Params.images.logo}}" alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container" class="nav-menu-container col-lg order-lg-1">
					<ul class="nav-menu clearfix">
						<li class="menu-has-children">
							<a href="#"> IT & Telecom</a>
							<ul>
								<li><a href="#">Wholesale Voice</a></li>
								<li><a href="#">Wholesale Messaging</a></li>
								<li class="menu-has-children">
									<a href="#">Digital Engineering Services</a>
									<ul class="submenudigi">
										<li>
											<a href="digital-product-engineering"
												><img
													src="{{ site.Params.images.menuicon1 | absURL }}"
													style="width: 30px; margin-right: 10px"
													alt="Digital Products Engineering"
												/>Digital Products Engineering <br /><span
													style="margin-left: 40px; font-size: 12px"
													>UI/UX | Front End | Back End | Database</span
												></a
											>
										</li>
										<li>
											<a href="#"
												><img
													src="{{ site.Params.images.menuicon2 | absURL }}"
													style="width: 30px; margin-right: 10px"
													alt="Cloud"
												/>DevOps, CICD & Cloud <br /><span
													style="margin-left: 40px; font-size: 12px"
													>Seamless Agile Delivery & Deployment</span
												></a
											>
										</li>
									</ul>
								</li>
								<li><a href="#">Cloud Services</a></li>
								<li><a href="#">Software Distribution</a></li>
							</ul>
						</li>
						<li class="menu-has-children">
							<a href="#"> Digital Marketing</a>
							<ul>
								<li><a href="#">SEO</a></li>
								<li><a href="#">Social Media</a></li>
							</ul>
						</li>
						<li><a href="#">Green Energy</a></li>
						<li><a href="#">Import/Export</a></li>
						<!-- <li><a href="#">Finance</a></li> -->
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
<!-- end header-->
