<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <!-- Author Meta -->
  <meta name="author" content="" />
  <link rel="canonical" href="https://vetron.in" />
  <meta property="og:title" content="Matrix" />
  <meta property="og:site_name" content="Vetron IT Services" />
  <meta property="og:url" content="https://vetron.in" />
  <meta property="og:description" content="Matrix" />
  <meta property="og:type" content="website" />
  <meta
    property="og:image"
    content="https://vetron.in/images/index/website-development.svg"
  />
  <!-- Meta Description -->
  <meta name="description" content="Matrix" />
  <!-- Meta Keyword -->
  <meta name="keywords" content="Matrix" />
  <!-- meta character set -->
  <meta charset="UTF-8" />
  <!-- Site Title -->
  <title>Matrix</title>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "Vetron IT Services",
      "image": "https://vetron.in/images/index/website-development.svg",
      "telephone": "+91 951 202 4101",
      "email": "inquiry@vetron.in",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "617, Western Business Park , Udhna Magdalla Road, Vesu",
        "addressLocality": "Surat",
        "addressRegion": "Gujarat",
        "addressCountry": "India",
        "postalCode": "395007"
      },
      "url": "http://vetron.in/",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "bestRating": "5",
        "ratingCount": "18"
      }
    }
  </script>

  <meta name="theme-color" content="#ffffff" />
  <!-- Favicon-->
  <link rel="shortcut icon" href="plugins/images/favicon.png" />

  <link
    href="https://fonts.googleapis.com/css?family=Be+Vietnam:300,400,600,800&display=swap"
    rel="stylesheet"
  />
  {{ range site.Params.plugins.css }}
  <link rel="stylesheet" href="{{ .link | absURL }}" />
  {{end}}
</head>
