<!--start Partners-->
<section class="section section-gap border-bottom">
  <div class="container text-center">
    <div class="section-head">
      <h2>Trusted Global Partners</h2>
    </div>
    <div class="row brand-list">
      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="{{ site.Params.images.partner1 | absURL }}"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="{{ site.Params.images.partner2 | absURL }}"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="{{ site.Params.images.partner3 | absURL }}"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="{{ site.Params.images.partner4 | absURL }}"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="{{ site.Params.images.partner5 | absURL }}"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="{{ site.Params.images.partner6 | absURL }}"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="{{ site.Params.images.partner7 | absURL }}"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="{{ site.Params.images.partner8 | absURL }}"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="{{ site.Params.images.partner9 | absURL }}"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="{{ site.Params.images.partner10 | absURL }}"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="{{ site.Params.images.partner11 | absURL }}"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="{{ site.Params.images.partner12 | absURL }}"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
<!-- End Partners-->
