<!--start Section-->
<section class="section sep sep-l">
  <div class="container">
    <div class="row gutters-100">
      <div class="col-md-5 sep-block bg-danger section-gap">
        <div class="content-block text-white mb-0">
          <h2 class="content-block-head">
            A few workplaces around the globe, We're a remote organization.
          </h2>
          <div class="content-block-body">
            <p>
              We're additionally a gathering of enthusiastic thinkers and
              practitioners who are continually finding better approaches to
              recount tales and concoct spectacular thoughts. We idea, we plan,
              we assemble, we make answers for stunning brands and business that
              need to sparkle on the web.
            </p>
            <a href="#" class="btn btn-xl btn-dark"
              >Get Started Now! <i class="bx bx-right-arrow-alt"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-7 section-gap">
        <div class="content-block border-bottom">
          <h2 class="content-block-head">See who we’ve helped.</h2>
          <div class="content-block-body">
            <h4>An accomplice for all your telecom desires</h4>
            <p>
              matrix makes a speciality of supplying telecom services in
              wholesale voice and messaging.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="content-block">
              <div class="content-block-body">
                <h4>Wholesale Voice</h4>
                <p class="mb-1">
                  Our Wholesale Voice offerings are attainable because of our
                  interconnection with Tier one carriers and built up Telecom
                  organizations to make sure our offerings are promptly
                  accessible around the world.
                </p>
                <a class="link link-sm" href="#"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="content-block">
              <div class="content-block-body">
                <h4>Wholesale Messaging</h4>
                <p class="mb-1">
                  In a limited time, we have accomplished epidemic development
                  in International a2p messaging industry and have executed
                  popularity of top-level SMS aggregator in EMEA area
                  specifically Hong Kong.
                </p>
                <a class="link link-sm" href="#"
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end section-->
<!-- Start Section-->
<section class="section section-gap border-bottom">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-3">
        <div class="icon-text view-1">
          <div class="icon-text-head">
            <div class="text">+1B</div>
            <div class="icon bg-danger">
              <i class="bx bx-transfer-alt"></i>
            </div>
          </div>
          <p class="h4">Annual transactions</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="icon-text view-1">
          <div class="icon-text-head">
            <div class="text">+200</div>
            <div class="icon bg-danger"><i class="bx bx-sitemap"></i></div>
          </div>
          <p class="h4">Network operators</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="icon-text view-1">
          <div class="icon-text-head">
            <div class="text">+6</div>
            <div class="icon bg-danger"><i class="bx bx-calendar"></i></div>
          </div>
          <p class="h4">Years of exprience</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="icon-text view-1">
          <div class="icon-text-head">
            <div class="text">+50</div>
            <div class="icon bg-danger">
              <i class="bx bx-phone-call"></i>
            </div>
          </div>
          <p class="h4">Million calls handled daily</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section-->
