<!-- start Slider-->
<div class="banner-section white-shade-t">
  <div class="container">
    <div class="owl-slider">
      <div id="carousel" class="owl-carousel banner-carousel">
        <div class="item">
          <div class="row align-items-center">
            <div class="col-md-6 text-center order-md-2">
              <img
                class="img-fluid"
                src="{{ site.Params.images.slider1 | absURL }}"
              />
            </div>
            <div class="col-md-6 order-md-1">
              <div class="banner-content">
                <h1 class="fw-800 text-danger">
                  Wholesale Messaging Services Hong kong
                </h1>
                <p class="h4 my-3">
                  Providing telecom services in wholesale messaging.
                </p>
                <a href="#" class="btn btn-outline-danger btn-lg mt-2"
                  >Get Started Now! <i class="bx bx-right-arrow-alt"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row align-items-center">
            <div class="col-md-6 text-center order-md-2">
              <img
                class="img-fluid"
                src="{{ site.Params.images.slider2 | absURL }}"
              />
            </div>
            <div class="col-md-6 order-md-1">
              <div class="banner-content">
                <h1 class="fw-800 text-danger">
                  Convert your web-based traffic into inbound sales calls
                </h1>
                <p class="h4 my-3">
                  Our powerful 1-Click-Call button intelligently routes customer
                  calls from your website to the same designation points as your
                  ITFS/DID number(s) in real time
                </p>
                <a href="#" class="btn btn-outline-danger btn-lg mt-2"
                  >Get Started Now! <i class="bx bx-right-arrow-alt"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end slider-->
